.flower-space {
  position: relative;
  background: white;
  height: 400px;
  width: 600px;
  margin: auto;
  display: block;
  margin-top: 8%;
}
.full-flower {
  position: absolute;
  width: 311px;
  height: 225px;
  top: 17%;
  left: 4%;
  animation: growPetals 3s 1;
}
.stem {
  width: 47px;
  height: 464px;
  position: absolute;
  top: 70%;
  left: 25%;
  animation: growStem 2s 1;
}
.drops {
  position: absolute;
  width: 57%;
  height: 225px;
  top: -16%;
  left: 1%;
  animation: grow 1s 3s 1;
}
.growingDrops {
  animation: grow 1s 1;
}

@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes growPetals {
  0% {
    height: 0;
  }
  100% {
    height: 225px;
  }
}

@keyframes growStem {
  0% {
    height: 0%;
    bottom: 0;
  }
  50% {
    transform: rotateY(360deg);
  }
  100% {
    height: 100%;
    top: 70%;
  }
}
